
main > .container {
  padding: 80px 15px 0;
}

.question {
      border: 1px grey solid;
    margin-right: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
}

.question img {
  width :140px;
  height :130px;
  margin-bottom: 5px;
}

.answer {
    border: 1px green solid;
    margin-right: 20px;
    margin-left: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.answer img {
  width :140px;
  height :130px;
  margin-bottom: 5px;
}


.btn-primary {
  width: 80px;
}
.btn-outline-info {
  width: 160px;
 }
 
 .navbar-nav img {
  width :50px;
  height :50px;
  margin-bottom: 5px;
}
.myname{
  margin-top: 10px;
}

.col-5 {
    margin-left: 10px;
}
.answ {
    padding-left: 25px;
}
.new1 {
    margin-right: 10px;
}

.user {
    margin-top: 10px;
    margin-bottom: 15px;
}

.col-6 img {
  width :140px;
  height :130px;
  margin-bottom: 15px;
}

.invalid-feedback {
    display: block;
    margin-bottom: 15px;
}