{% load static %}
<div class="row answer">
    <div class="col-3">
        <img src="{% static answer.fk_profile.avatarlink%}">
        <button type="button" class="btn btn-outline-info">{{answer.rating}}</button>
        <div class="btn-group" role="group" aria-label="Basic example">
            <input class="btn btn-primary" type="button" value="Like">
            <input class="btn btn-primary" type="button" value="Dislike">
        </div>
    </div>
    <div class="col-9">
        <a href="{% url "one_question" pk=question.id%}" id="{{answer.id}}"><h2>Answer number {{answer.id}}</h2></a>
        <div>
            {{answer.text}}
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
                <h5>Correct!</h5>
            </label>
        </div>
    </div>
</div>