{% load static %}
{% load bootstrap4 %}

<form  class="form_2" action = "{% url "ask" %}" method="post">
     {% csrf_token %}
     {% bootstrap_form form %}
     {% buttons %}
    <button type="submit" class="btn btn-primary">
      Ask
    </button>
  {% endbuttons %}

</form>