{% load static %}

<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<title>question index</title>
		<link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">
		<style>
		.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		}
		@media (min-width: 768px) {
		.bd-placeholder-img-lg {
		font-size: 3.5rem;
		}
		}
		</style>

		<link href="{% static 'css/my.css'%}" rel="stylesheet" >
	</head>
	<body class="d-flex flex-column h-100">

    {% block navbar %}

    {% endblock navbar %}
<!-- Begin page content -->
		<main class="flex-shrink-0">
			<div class="container">
				<div class="row">
					<div class="col-8">
                       {% block theme %}
                       {% endblock theme %}
                        {% block content %}
                        {% endblock content %}

					</div>
					<div class="col-4">
                        {% block side %}
                            {% include "include/rightside.html" %}
                        {% endblock side %}
				    </div>
                </div>
            </div>
        </main>
               {% block paginator %}

               {% endblock paginator %}

               {% block answer %}

               {% endblock answer%}

			<script src="{% static 'js/bootstrap.bundle.min.js'%}" ></script>

		</body>
	</html>