{% load static %}
{% load bootstrap4 %}

<form  class="form_1" action = "{% url "login"%}" method="post">
     {% csrf_token %}
     {% bootstrap_form form %}
     {% buttons %}
    <button type="submit" class="btn btn-primary">
      Login
    </button>
  {% endbuttons %}

</form>
