{% load static %}
<header>
			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{% url "ask" %}">Ask Lyubskiy</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">

					<form class="form-inline mt-2 mt-md-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask!</button>
					</form>
				</div>
				<ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                <img src="{% static  request.user.profile.avatarlink %}">
					<h6 class ="myname">{{request.user}}</h6>
					<li class="nav-item active">

						<a class="nav-link" href="{% url 'settings' %}">Settings<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
					</li>
                    {% else %}
                        <li class="nav-item active">
						<a class="nav-link" href="{% url 'login' %}">Log in<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'signup' %}">Register<span class="sr-only">(current)</span></a>
					</li>
                {% endif %}
				</ul>

			</nav>
		</header>