{% load static %}
<div class="row question">
    <div class="col-3">
        <img src="{% static question.fk_profile.avatarlink %}">

        <button type="button" class="btn btn-outline-info">{{ question.rating}}</button>
        <div class="btn-group" role="group" aria-label="Basic example">
            <input class="btn btn-primary" type="button" value="Like">
            <input class="btn btn-primary" type="button" value="Dislike">
        </div>

    </div>
    <div class="col-9">
        <h2><a href="{% url "one_question" pk=question.id %}">{{ question.title }}</a></h2>
        <div>
            {{ question.text }}.
        </div>
        <div class="row">
            <div class="col-4">
                <h5>NumAnswers:{{question.answers_num}}</h5>
            </div>
            <div class="col-6">
                  <h5> Tags:</h5>
                  {% for fk_tag in question.fk_tags.all %}
                      <h5> <a href="{{fk_tag.link}}">{{fk_tag}}</a> </h5>
                 {% endfor %}
            </div>
        </div>
    </div>
</div>