{% load static %}
{% load bootstrap4 %}

<form  enctype="multipart/form-data" class="form_3" action = "{% url "settings"%}" method="post">
     {% csrf_token %}
     {% bootstrap_form form %}
     {% buttons %}
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  {% endbuttons %}

</form>