{% load static %}
{% load bootstrap4 %}

<form class="form_5" action = "{% url "one_question" pk=question.id %}" method="post">
     {% csrf_token %}
     {% bootstrap_form form %}
     {% buttons %}
    <button type="submit" class="btn btn-primary">
      Answer
    </button>
  {% endbuttons %}

</form>